.login-popup-title img{
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.login-popup{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #00000090;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-popup-container{
    place-self: center;
    width: 200px;
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 10px;
    animation: fade-in 0.5s;
    
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 4px;
    border-radius: 3px;
    font-size: 9px;
}
.login-popup-container button{
    border: none;
    color: white;
    background-color: tomato;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    font-size: 9px;
}
.login-popup-condition{
    display: flex;
    margin-top: -2px;
    gap: 5px;
    align-items: start;
    font-size: 8px;
}
.login-popup-condition input{
    font-size: 8px;
}
.login-popup p span{
    color: tomato;
}